In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import scipy.stats as stats
mpl.rc('font', family = 'Malgun Gothic')
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

### x: 범주형, y: 연속형 : 범주형에 따른 상관관계 확인

### 선정 변수: channel(항목 2), Mileage\[:500\] (정규분포)
- 분석 내용: channel 중 서비스방문과 홈쇼핑에 따른 마일리지 평균의 차이가 있는가?
    - 귀무가설: 평균에 차이가 없다.
    - 대립가설: 평균에 차이가 있다.
- 분석 결론 (기준: p-value가 0.05)
    - 통계 결론: 
    - 사실 결론:

In [16]:
# 검증 대상 항목만 필터링 & 500개만 추출(정규분포 자료 획득)

condition = (df_TOCC['channel'] == '서비스 방문') | (df_TOCC['channel'] == '홈쇼핑/방송')
df_channel_Mileage = df_TOCC[condition][['channel', 'Mileage']][:500]
df_channel_Mileage[:2]

  channel  Mileage
0  서비스 방문   1862.0
1  서비스 방문   2532.0

In [17]:
df_service = df_channel_Mileage[df_channel_Mileage['channel'] == '서비스 방문']
df_homeshopping = df_channel_Mileage[df_channel_Mileage['channel'] == '홈쇼핑/방송']

In [18]:
df_service[:2]

  channel  Mileage
0  서비스 방문   1862.0
1  서비스 방문   2532.0

In [19]:
df_homeshopping[:2]

  channel  Mileage
2  홈쇼핑/방송   2363.0
6  홈쇼핑/방송   2348.0

##### 등분산 검증