In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font', family = 'Malgun Gothic')
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0

### 선정 변수: amount, Mileage
- 분석 내용: 총합에 따라서 마일리지가 변화하는가?
    - 귀무가설: 변화가 없다.
    - 대립가설: 변화가 있다.
- 분석 결론 (기준: p-value가 0.05)
    - 통계 결론: 귀무가설이 참
    - 사실 결론: 총합과 마일리지는 상호 간 관계가 없다.

In [11]:
df_credit = df_TOCC[['amount', 'Mileage']]
df_credit.describe()

              amount       Mileage
count   51304.000000  40509.000000
mean    93994.980021   1967.922412
std     15305.147334    436.707329
min     54603.000000    872.000000
25%     81900.000000   1646.000000
50%     96900.000000   1946.000000
75%     98400.000000   2263.000000
max    215700.000000   3803.000000

In [12]:
df_credit.isnull().sum()

amount         0
Mileage    10795
dtype: int64

df_credit = df_credit.dropna().copy()
df_credit.isnull().sum()

In [14]:
df_credit.corr()

           amount   Mileage
amount   1.000000 -0.004146
Mileage -0.004146  1.000000

In [15]:
import scipy.stats as stats

In [16]:
stats.pearsonr(df_credit['amount'], df_credit['Mileage'])

PearsonRResult(statistic=-0.004146217018612766, pvalue=0.404010202657426)

### 결론
- P-value가 0.05이상, 즉 상대적으로 높은 값이 산출되었으므로, 상관계수의 통계적 중요도가 높지 않다고 결론 내릴 수 있다.
    - 다시 말해, 귀무가설을 기각할 충분한 근거를 갖추지 못한다.