In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font', family = 'Malgun Gothic')

In [3]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0

### x 범주형 / y 범주형 : 주로 독립성 증명
- 선정 변수: type_of_contract, cancellation
- 분석 내용: 계약 유형에 따라 해약 여부가 달라지는가?
    - 귀무가설: 계약 유형에 따라 해약 여부가 달라지지 않는다.
    - 대립가설: 계약 유형에 따라 해약 여부가 달라진다.
- 분석 결론 (기준: p-value가 0.05)
    - 통계 결론: p-value가 0.05보다 작으므로 대립가설이 참이다. 귀무가설 기각.
    - 사실 결론: 계약 유형에 따라 해약 여부가 달라진다.

In [7]:
df_TOCC[['type_of_contract', 'cancellation']].describe()

       type_of_contract cancellation
count             51300        51279
unique                2            2
top                  렌탈           정상
freq              46481        50372

In [10]:
df_TOCC_category = df_TOCC[['type_of_contract', 'cancellation']]

In [13]:
df_TOCC_category_pivot =  pd.pivot_table(data=df_TOCC_category, index='type_of_contract', columns='cancellation', aggfunc=len)
df_TOCC_category_pivot

cancellation         정상   해약
type_of_contract
렌탈                46137  344
멤버십                4231  563

In [14]:
import scipy
scipy.__version__
import scipy.stats as stats

In [16]:
stats.chi2_contingency(observed=df_TOCC_category_pivot, correction = True)

Chi2ContingencyResult(statistic=3021.9735309482894, pvalue=0.0, dof=1, expected_freq=array([[45658.8007411,   822.1992589],
       [ 4709.1992589,    84.8007411]]))

In [ ]:
### p-value가 0.05보다 작다.
### 따라서 대립가설이 참이다.