In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import scipy.stats as stats
mpl.rc('font', family = 'Malgun Gothic')

In [4]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0

### y: 연속형: 정규성 여부 판단

### 선정 변수: age, mileage
- 분석 내용: 나이에 따라서 마일리지가 변화하는가?
    - 귀무가설: 변화가 없다.
    - 대립가설: 변화가 있다.
- 분석 결론 (기준: p-value가 0.05)
    - 통계 결론: 대립가설 참
    - 사실 결론: 나이가 많을 수록 마일리지가 증가한다.