## Quest
- DDA
- 범주형/범주형, 연속형/연속형 검증하기

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font', family = 'Malgun Gothic')

In [7]:
df_ROS = pd.read_csv('../../datasets/train.csv')
df_ROS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
df_ROS.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
df_ROS = df_ROS.drop(['Age', 'Cabin'], axis = 1)
df_ROS.describe()

       PassengerId    Survived      Pclass       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000    8.000000    6.000000  512.329200

In [10]:
df_ROS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Embarked     889 non-null    object
dtypes: float64(1), int64(5), object(4)
memory usage: 69.7+ KB

## 범주형 & 범주형
- 선정 변수: Pclass, Survived
- 분석 내용: Pclass에 따라 Survived 여부가 달라지는가?
    - 귀무가설: 달라지지 않는다.
    - 대립가설: 달라진다.
- 분석 결론(기준: pvalue가 0.05보다 작다.)
: 관련이 없다.

In [11]:
df_ROS[['Pclass', 'Survived']].describe()

           Pclass    Survived
count  891.000000  891.000000
mean     2.308642    0.383838
std      0.836071    0.486592
min      1.000000    0.000000
25%      2.000000    0.000000
50%      3.000000    0.000000
75%      3.000000    1.000000
max      3.000000    1.000000

In [12]:
df_ROS = df_ROS[['Pclass', 'Survived']]

In [17]:
df_ROS_pivot = pd.pivot_table(data=df_ROS, index='Pclass', columns='Survived', aggfunc=len)
df_ROS_pivot

Survived    0    1
Pclass
1          80  136
2          97   87
3         372  119

In [15]:
import scipy.stats as stats

In [18]:
stats.chi2_contingency(observed=df_ROS_pivot, correction=True)

Chi2ContingencyResult(statistic=102.88898875696056, pvalue=4.549251711298793e-23, dof=2, expected_freq=array([[133.09090909,  82.90909091],
       [113.37373737,  70.62626263],
       [302.53535354, 188.46464646]]))

### pvalue가 0.05보다 크므로 대립가설이 성립하지 않는다. 따라서 Pclass와 Survived는 관련이 없다.

## 연속형 & 연속형
- 선정 변수: Age, Fare
- 분석 내용: Age에 따라 Fare이 달라지는가
    - 귀무가설: 달라지지 않는다.
    - 대립가설: 달라진다.
- 분석 결론(기준: pvalue가 0.05보다 작다.): 관련이 있다.

In [20]:
df_ROS = pd.read_csv('../../datasets/train.csv')
df_ROS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [22]:
df_ROS = df_ROS[['Age', 'Fare']]
df_ROS.describe()

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

In [23]:
df_ROS.value_counts()

Age   Fare
22.0  7.2500     4
30.0  13.0000    4
34.0  13.0000    4
32.0  7.9250     3
23.0  13.0000    3
                ..
24.0  7.7958     1
      7.8958     1
      8.0500     1
      8.8500     1
80.0  30.0000    1
Length: 638, dtype: int64

In [24]:
df_ROS.isnull().sum()

Age     177
Fare      0
dtype: int64

In [33]:
df_ROS_drop = df_ROS.dropna().copy()
df_ROS.isnull().sum()

Age     0
Fare    0
dtype: int64

In [34]:
stats.pearsonr(df_ROS['Age'], df_ROS['Fare'])

PearsonRResult(statistic=0.0960666917690389, pvalue=0.010216277504446952)

In [ ]:
### pvalue가 0.05보다 작으므로 대립가설이 참이다. 따라서 Age와 Fare은 관련이 있다.