In [1]:
import pandas as pd

In [3]:
pd.__version__

'1.5.3'

### DataFrame의 구조
- index(row) - column(column) - data

In [5]:
num_list = [10, 20, 30, 40, 50]
pd.DataFrame(data=num_list)

    0
0  10
1  20
2  30
3  40
4  50

In [8]:
double_columns = ['가격','종류','판매일자','반품여부']
double_list = [
    [1000, '과자', '2009-12-31', '반품'],
    [2000, '과자', '2009-12-31', '반품'],
    [3000, '아이스크림', '2009-12-31', '정상'],
    [1000, '과자', '2009-12-31', '반품']

]

pd.DataFrame(data=double_list, columns=double_columns)

     가격     종류        판매일자 반품여부
0  1000     과자  2009-12-31   반품
1  2000     과자  2009-12-31   반품
2  3000  아이스크림  2009-12-31   정상
3  1000     과자  2009-12-31   반품