In [1]:
import pandas as pd

In [2]:
df_ROS = pd.read_csv('../../datasets/RecurrenceOfSurgery.csv')
df_ROS.head(5)

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.50,4,Down,0
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.10,4,Up,0
2,2,3PT,53.0,3,NaN,0.0,0,0,1,0,...,0,67.5,27.3,10.2,0,-1.77,1749.00,4,Down,0
3,3,4PT,54.7,4,18.0,0.0,0,1,0,0,...,0,49.2,18.7,19.9,0,-1.58,1796.20,4,Down,0
4,4,5PT,53.8,4,NaN,0.0,0,1,0,0,...,0,58.8,14.7,5.2,0,-0.79,2021.48,4,Up,0

In [3]:
df_ROS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894 entries, 0 to 1893
Data columns (total 52 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1894 non-null   int64
 1   환자ID                    1894 non-null   object
 2   Large Lymphocyte        1894 non-null   float64
 3   Location of herniation  1894 non-null   int64
 4   ODI                     462 non-null    float64
 5   가족력                     1843 non-null   float64
 6   간질성폐질환                  1894 non-null   int64
 7   고혈압여부                   1894 non-null   int64
 8   과거수술횟수                  1894 non-null   int64
 9   당뇨여부                    1894 non-null   int64
 10  말초동맥질환여부                1894 non-null   int64
 11  빈혈여부                    1894 non-null   int64
 12  성별                      1894 non-null   int64
 13  스테로이드치료                 1894 non-null   int64
 14  신부전여부                   1894 non-null   int64
 15  신장                      1894 non-null   int64
 16  심혈관질환                   1894 non-null   int64
 17  암발병여부                   1894 non-null   int64
 18  연령                      1894 non-null   int64
 19  우울증여부                   1894 non-null   int64
 20  입원기간                    1894 non-null   int64
 21  입원일자                    1894 non-null   int64
 22  종양진행여부                  1894 non-null   int64
 23  직업                      1479 non-null   object
 24  체중                      1894 non-null   float64
 25  퇴원일자                    1894 non-null   int64
 26  헤모글로빈수치                 1893 non-null   float64
 27  혈전합병증여부                 1894 non-null   int64
 28  환자통증정도                  1894 non-null   int64
 29  흡연여부                    1894 non-null   int64
 30  통증기간(월)                 1890 non-null   float64
 31  수술기법                    1813 non-null   object
 32  수술시간                    1840 non-null   float64
 33  수술실패여부                  1894 non-null   int64
 34  수술일자                    1894 non-null   int64
 35  재발여부                    1894 non-null   int64
 36  혈액형                     1894 non-null   object
 37  전방디스크높이(mm)             1894 non-null   float64
 38  후방디스크높이(mm)             1894 non-null   float64
 39  지방축적도                   1891 non-null   float64
 40  Instability             1894 non-null   int64
 41  MF + ES                 1894 non-null   float64
 42  Modic change            1894 non-null   int64
 43  PI                      1890 non-null   float64
 44  PT                      1890 non-null   float64
 45  Seg Angle(raw)          1893 non-null   float64
 46  Vaccum disc             1894 non-null   int64
 47  골밀도                     998 non-null    float64
 48  디스크단면적                  1893 non-null   float64
 49  디스크위치                   1894 non-null   int64
 50  척추이동척도                  1894 non-null   object
 51  척추전방위증                  1894 non-null   int64
dtypes: float64(16), int64(31), object(5)
memory usage: 769.6+ KB

### 목표변수: 수술시간
    - 설명변수:
                - 고혈압여부
                - 당뇨여부
                - 흡연여부
                - 체중
                - 골밀도

In [4]:
import numpy as np

In [5]:
# 수술시간 긴 순서대로 정렬
ds = df_ROS[['수술시간', '고혈압여부', '당뇨여부', '흡연여부', '체중', '골밀도']]
ds_list = ds.sort_values(by=['수술시간'], ascending=[False])
ds_list

       수술시간  고혈압여부  당뇨여부  흡연여부    체중   골밀도
1785  220.0      0     0     1  68.0   NaN
1128  190.0      0     1     0  70.0   NaN
1086  165.0      0     0     0  67.0   NaN
1428  155.0      0     0     0  60.0 -2.20
347   152.0      0     0     0  69.0 -1.49
...     ...    ...   ...   ...   ...   ...
1740    NaN      0     0     0  66.0   NaN
1741    NaN      0     0     1  73.0   NaN
1742    NaN      0     0     0  66.0   NaN
1743    NaN      0     0     0  66.0   NaN
1763    NaN      0     0     0  35.0   NaN

[1894 rows x 6 columns]

In [42]:
# hp = hypertension
ds_hp = ds_list[['수술시간', '고혈압여부']]
ds_hp.pivot_table(index='고혈압여부', values = '수술시간', aggfunc=np.mean)
# 따라서 고혈압이 있는 환자의 평균 수술시간이 더 길었음을 알 수 있다.

            수술시간
고혈압여부
0      61.686483
1      64.574380

In [41]:
# db = diabetes
ds_db = ds_list[['수술시간', '당뇨여부']]
ds_db.pivot_table(index='당뇨여부', values = '수술시간', aggfunc=np.mean)
# 당뇨 병력이 있는 환자의 경우 수술시간이 소폭 증가하였으나 통계적으로 유의미한 수치는 보이지 않았다.

           수술시간
당뇨여부
0     62.009281
1     62.913793

In [44]:
# sm = smoking
ds_sm = ds_list[['수술시간', '흡연여부']]
ds_sm.pivot_table(index='흡연여부', values = '수술시간', aggfunc=np.mean)

           수술시간
흡연여부
0     62.361554
1     61.000000

In [46]:
# wt = weight
ds_wt = ds_list[['수술시간', '체중']]

conditions = [
(ds_wt['체중'] >= 30) & (ds_wt['체중'] < 50),
(ds_wt['체중'] >= 50) & (ds_wt['체중'] < 80),
(ds_wt['체중'] >= 80) & (ds_wt['체중'] < 110),
(ds_wt['체중'] >= 110) & (ds_wt['체중'] <= 140)
]

weight_labels = ['30-49', '50-79', '80-109', '110-140']

ds_wt_list['WeightCategory'] = np.select(conditions)

ds_wt.pivot_table(index='WeightCategory', values = '수술시간', aggfunc=np.mean)

# 흡연여부의 경우 비흡연자에게서 오히려 수술시간이 소폭 증가했으나, 통계적으로 유의미하지 않았다.

TypeError: select() missing 1 required positional argument: 'choicelist'