In [18]:
import pandas as pd

In [19]:
pd.__version__

'1.5.3'

### DataFrame의 구조
- index(row) - column(column) - data

In [20]:
num_list = [10, 20, 30, 40, 50]
pd.DataFrame(data=num_list)

    0
0  10
1  20
2  30
3  40
4  50

In [21]:
double_columns = ['가격','종류','판매일자','반품여부']
double_list = [
    [1000, '과자', '2009-12-31', '반품'],
    [2000, '과자', '2009-12-31', '반품'],
    [3000, '아이스크림', '2009-12-31', '정상'],
    [1000, '과자', '2009-12-31', '반품']

]

df_saledays = pd.DataFrame(data=double_list, columns=double_columns)
df_saledays

     가격     종류        판매일자 반품여부
0  1000     과자  2009-12-31   반품
1  2000     과자  2009-12-31   반품
2  3000  아이스크림  2009-12-31   정상
3  1000     과자  2009-12-31   반품

In [22]:
type(df_saledays)

pandas.core.frame.DataFrame

In [23]:
df_saledays_dropcol = df_saledays.drop(columns=['종류', '판매일자'])
df_saledays_dropcol

     가격 반품여부
0  1000   반품
1  2000   반품
2  3000   정상
3  1000   반품

In [24]:
# 필터: and - & or - |
# condition = (df_saledays_dropcol['반품여부'] == '정상')
condition = (df_saledays_dropcol['가격'] >= 2500)
df_saledays_dropcol.loc[condition]

     가격 반품여부
2  3000   정상

In [25]:
# (df_saledays_dropcol['가격'] >= 2500 ) | (df_saledays_dropcol['가격'] <= 1000)
(df_saledays_dropcol['반품여부'] == '정상') & (df_saledays_dropcol['가격'] >= 2500)

0    False
1    False
2     True
3    False
dtype: bool

## 요약

In [26]:
# pd.pivot_table(data=df_saledays_dropcol, index='반품여부', values = '가격')
df_saledays_dropcol.pivot_table(index='반품여부', values='가격', aggfunc=np.min)

        가격
반품여부
반품    1000
정상    3000

In [27]:
df_saledays

     가격     종류        판매일자 반품여부
0  1000     과자  2009-12-31   반품
1  2000     과자  2009-12-31   반품
2  3000  아이스크림  2009-12-31   정상
3  1000     과자  2009-12-31   반품

In [31]:
df_saledays['가격'].mean()

1750.0

In [35]:
def mean_subtraction(cell_value) :
    result = 1750 - cell_value
    return result

In [36]:
mean_subtraction(750)

1000

In [ ]:
df_saledays['가격']

In [30]:
# df_saledays['가격차이'] = df_saledays['가격'] # 각 cell 당 평균과의 차이

KeyError: '가격차이'

### Series

In [29]:
### Series
# - index -data

In [ ]:
type(ser_floats)

In [ ]:
single_data = [0.1, 0.2, 0.3, 0.4, 0.5]
ser_floats = pd.Series(data=single_data)
ser_floats

### 통계 수치 표현

In [ ]:
import numpy as np

In [ ]:
arr = np.array([6, 4, 1, 3, 5, 3, 10, 7, 9])

In [ ]:
# 평균, 합계
np.mean(arr), np.sum(arr)

In [ ]:
# 중앙값
np.median(arr)

In [ ]:
# 최솟값, 최댓값
print(np.min(arr), np.max(arr))

In [ ]:
# 분산, 표준편차
np.var(arr), np.std(arr)

#### IQR

In [ ]:
import numpy as np
data = np.array([44, 32, 53, 75, 36, 45, 25, 49, 46, 28])

In [ ]:
# 25%에 해당하는 기준값 구하기
Q1 = np.percentile(data, 25)

In [ ]:
Q3 = np.percentile(data, 75)

In [ ]:
Q1, Q3

In [ ]:
Q3 - Q1

In [ ]:
np.median(data)

In [ ]:
import seaborn as sns

In [ ]:
sns.boxplot(data)