In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

### DataFrame의 구조
- index(row) - column(column) - data

In [3]:
num_list = [10, 20, 30, 40, 50]
pd.DataFrame(data=num_list)

    0
0  10
1  20
2  30
3  40
4  50

In [4]:
double_columns = ['가격','종류','판매일자','반품여부']
double_list = [
    [1000, '과자', '2009-12-31', '반품'],
    [2000, '과자', '2009-12-31', '반품'],
    [3000, '아이스크림', '2009-12-31', '정상'],
    [1000, '과자', '2009-12-31', '반품']

]

df_saledays = pd.DataFrame(data=double_list, columns=double_columns)
df_saledays

     가격     종류        판매일자 반품여부
0  1000     과자  2009-12-31   반품
1  2000     과자  2009-12-31   반품
2  3000  아이스크림  2009-12-31   정상
3  1000     과자  2009-12-31   반품

In [5]:
type(df_saledays)

pandas.core.frame.DataFrame

In [11]:
df_saledays_dropcol = df_saledays.drop(columns=['종류', '판매일자'])
df_saledays_dropcol

     가격 반품여부
0  1000   반품
1  2000   반품
2  3000   정상
3  1000   반품

In [14]:
# 필터: and - & or - |
# condition = (df_saledays_dropcol['반품여부'] == '정상')
condition = (df_saledays_dropcol['가격'] >= 2500)
df_saledays_dropcol.loc[condition]

     가격 반품여부
2  3000   정상

In [16]:
# (df_saledays_dropcol['가격'] >= 2500 ) | (df_saledays_dropcol['가격'] <= 1000)
(df_saledays_dropcol['반품여부'] == '정상') & (df_saledays_dropcol['가격'] >= 2500)

0    False
1    False
2     True
3    False
dtype: bool

### Series
- index -data

In [7]:
type(ser_floats)

pandas.core.series.Series

In [6]:
single_data = [0.1, 0.2, 0.3, 0.4, 0.5]
ser_floats = pd.Series(data=single_data)
ser_floats

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64